@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
* {
  color: #dcdcdc;
  font-family: "Rubik", sans-serif;
}

.text-border {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

.container00 {
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-falcon {
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  width: 550px;
}

header {
  padding-top: 10px;
}
header .logo-obc {
  width: 240px;
}
header .other-pages {
  color: #dcdcdc;
  font-weight: 500;
  font-size: 14px;
}
header .other-pages:hover {
  color: #fff;
}

button {
  color: #dcdcdc;
}

.credits {
  min-height: 85vh;
  background-color: #000;
}
.credits a {
  color: #fff;
  text-decoration: none;
}
.credits a:hover {
  color: #dcdcdc;
}
.credits button {
  padding: 15px 10px;
  margin: 5px;
}

.footer {
  background-color: #000;
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer a {
  color: #dcdcdc;
  font-size: 12px;
  text-decoration: none;
  border-bottom: 1px solid #dcdcdc;
}
.footer a:hover {
  color: #fff;
  border-color: #fff;
}
.footer span {
  margin: 0px 3px;
}

.container00.container01 {
  background-image: url("../../images/home/01.jpg");
}
.container00.container02 {
  background-image: url("../../images/home/03.jpg");
}
.container00.container03 {
  background-image: url("../../images/home/02.gif");
}
.container00.container04 {
  background-image: url("../../images/home/04.jpg");
}

.title-home {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 35px;
}

.subtitle-home {
  font-weight: 500;
  margin-bottom: -5px;
  font-size: 20px;
}

.arrow img {
  width: 90px;
  margin-top: 5px;
}

@media (max-width: 585px) {
  .title-home {
    font-size: 30px;
  }
  .subtitle-home {
    font-size: 18px;
  }
  .title-container {
    width: 380px;
  }
}
@media (max-width: 410px) {
  .title-home {
    font-size: 25px;
  }
  .title-container {
    width: 325px;
  }
  .logo-obc {
    width: 180px;
  }
}
@media (max-width: 350px) {
  .title-home {
    font-size: 20px;
  }
  .subtitle-home {
    font-size: 16px;
  }
  .title-container {
    width: 290px;
  }
  .logo-obc {
    width: 150px;
  }
}
.container00.container05 {
  background-image: url("../../images/falcon9/01.jpg");
}

.container-falcon.container06 {
  background-image: url("../../images/falcon9/02.jpg");
}
.container-falcon.container07 {
  background-image: url("../../images/falcon9/08.jpg");
}
.container-falcon.carousel01 {
  background-image: url("../../images/falcon9/03.jpg");
}
.container-falcon.carousel02 {
  background-image: url("../../images/falcon9/04.jpg");
}
.container-falcon.carousel03 {
  background-image: url("../../images/falcon9/05.jpg");
}
.container-falcon.carousel04 {
  background-image: url("../../images/falcon9/06.jpg");
}
.container-falcon.carousel05 {
  background-image: url("../../images/falcon9/07.jpg");
}

.container-title-falcon {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.title-falcon {
  font-size: 90px;
}

.subtitle-falcon {
  font-size: 25px;
  margin-top: -30px;
}

.numbers {
  background-color: #000;
}
.numbers .number-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  min-height: 30vh;
}
.numbers .numb {
  font-size: 50px;
}

.text-falcon {
  width: 550px;
  font-size: 22px;
  line-height: 40px;
}

.overview-container {
  width: 500px;
  margin-left: 5%;
}

.img-carousel {
  height: 100vh;
  object-fit: cover;
}

@media (max-width: 1000px) {
  .text-falcon, .overview-container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    border-radius: 10px;
  }
}
@media (max-width: 600px) {
  .title-falcon {
    font-size: 80px;
  }
  .subtitle-falcon {
    font-size: 25px;
    margin-top: -30px;
  }
  .text-falcon {
    width: auto;
  }
  .numbers .number-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    min-height: 30vh;
  }
  .numbers .numb {
    font-size: 45px;
  }
  .numbers .text-numb {
    font-size: 16px;
  }
  .overview-container {
    width: auto;
    margin: auto;
    font-size: 15px;
    line-height: 25px;
  }
}
@media (max-width: 460px) {
  .title-falcon {
    font-size: 70px;
  }
  .subtitle-falcon {
    font-size: 20px;
    margin-top: -30px;
  }
  .numbers .number-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
  }
  .numbers .numb {
    font-size: 45px;
  }
  .numbers .text-numb {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .text-falcon {
    width: auto;
    font-size: 15px;
    line-height: 30px;
  }
}
@media (max-width: 385px) {
  .title-falcon {
    font-size: 60px;
  }
  .subtitle-falcon {
    font-size: 18px;
    margin-top: -30px;
  }
}
.container00.container08 {
  background-image: url("../../images/human-fight/01.jpg");
}
.container00.container09 {
  background-image: url("../../images/human-fight/02.jpg");
}
.container00.container10 {
  background-image: url("../../images/human-fight/03.jpg");
}
.container00.container11 {
  background-image: url("../../images/human-fight/04.jpg");
}
.container00.container12 {
  background-image: url("../../images/human-fight/05.jpg");
}

.container-title-human {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.container-title-human img {
  width: 100px;
}

.title-human {
  font-size: 90px;
}

.subtitle-human {
  font-size: 25px;
  margin-top: -30px;
}

.contact {
  background-color: #000;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact a {
  color: #fff;
  text-decoration: none;
}
.contact a:hover {
  color: #dcdcdc;
}

.content-right {
  margin-left: 55%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  width: auto;
}

.content-left {
  display: flex;
  min-height: 80vh;
  align-items: center;
  width: auto;
}

.travel-container .title-travel {
  font-weight: 500;
  font-size: 50px;
}
.travel-container .button-container {
  margin-top: 30px;
}

@media (max-width: 1550px) {
  .container08 {
    background-size: auto;
  }
}
@media (max-width: 1200px) {
  .title-human {
    line-height: 80px;
  }
  .subtitle-human {
    margin-top: 15px;
  }
}
@media (max-width: 635px) {
  .title-human {
    font-size: 75px;
    line-height: 80px;
  }
  .subtitle-human {
    margin-top: 15px;
  }
}
@media (max-width: 520px) {
  .title-human {
    font-size: 60px;
    line-height: 60px;
  }
  .subtitle-human {
    font-size: 25px;
  }
}
@media (max-width: 450px) {
  .content-right {
    margin-left: 45%;
  }
  .content-right, .content-left {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 15px;
    border-radius: 10px;
  }
}
@media (max-width: 410px) {
  .title-human {
    font-size: 50px;
  }
  .subtitle-human {
    font-size: 18px;
  }
}
@media (max-width: 355px) {
  .title-human {
    font-size: 45px;
  }
  .travel-container .title-travel {
    font-size: 40px;
  }
}
@media (max-width: 310px) {
  .content-right {
    margin: auto;
  }
}

/*# sourceMappingURL=style.css.map */
